@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'poppins',sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 10px cyan;
}

.nav h1 {
    color : white;

}

.skills {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height : 100%;
    width : 90vw;
    margin : 5vh auto 0 auto;
    gap : 30px;
}

.skill {
    position : relative;
    border : 2px solid green;
    align-items: center;
    justify-content: center;
    height : 250px;
    width : 200px;
    left : 20px;
    top : 10px;
    border-radius : 5px;
    cursor : pointer;
    transition: transform 0.6s ease-in-out, box-shadow 0.3s ease;
    background: white;
}

.skill img {
    position : absolute;
    top : 10px;
    height : 70%;
    width : 100%;
}

.skill h4 {
    color : rgb(0, 0, 0);
    position : absolute;
    bottom : 0;
    left : 30px;
}

.skill:hover {
    box-shadow: 0 0 10px cyan;
    transform: scale(1.1);
    animation: rotate 0.5s ;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media  screen and (max-width : 780px){
    .skills {
        grid-template-columns: repeat(2,1fr);
    }

    .skill {
        height : 200px;
        width : 120px;
    }
}